/* 全体（body）向けのスタイル */
body {
    font-size: 16px;
    color: #644a4a;
}

/* 見出し（h1）向けのスタイル　*/
h1 {
     border-bottom: solid 2px #ac0808;
     background-color: #000000;
     color: #ffffff;
}
/* 段落（p）向けのスタイル */
p .greeting {
    margin: 1em;
}

.sports {
    margin: 1em;
    color: #745514;
}
.rooting {
    margin: 1em;
    color: #745514;
}