/* 全体（body）向けのスタイル */
body {
    font-size: 16px;
    color: #644a4a;
}

/* 見出し（h1）向けのスタイル　*/
h1 {
    color: #ffffff;
    background-color: #474545;
    border-top: solid 4px #389bff;
    border-bottom: solid 4px #389bdd;
}
/* 段落（p）向けのスタイル */
.greeting {
    margin: 1em;
}

.sports {
    margin: 1em;
    color: #745514;
}
.rooting {
    margin: 1em;
    color: #745514;
}